## Asset Type 4
* Use Case Matrix:

| Type   | Transferable   | Quantifiable   | Examples, Samples, Use Cases                               |
|--------|----------------|----------------|------------------------------------------------------------|
| 4      | N              | N              | Graduation certificate                                     |
|        |                |                | Experience/Participation certificate (Credentials)         |

#### Initialisation:
* The initialisation is for initialise the python scripts in the notebook get it connected to CorDapp.
* Expected to see a base directory path.

In [70]:
import os
import sys
import math
import time
import IPython
import logging
import warnings
import datetime
import pandas as pd
import numpy  as np
import webbrowser
import pprint as pp
from random   import randrange
from notebook import notebookapp
from IPython.display import display
from IPython.core.display import HTML

# Initialise the notebook settings
def init_notebook():
    sys.path.insert(1, os.path.join(sys.path[0], '{}/lib/'.format(os.environ['BaseDir'])))
    display(HTML("<style>.container { width:98% !important; }</style>"))
    %matplotlib inline
    
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_colwidth', None)

# Initialise the Corda nodes
def init_cordaNodes():
    from corda5Interface import Corda5
    apiServer='https://localhost:8888/api/v1/flow'
    apiServerAuth=('admin', 'admin')
    package = 'com.r3.developers.configurableInstrument'
    replace_maters_list = { 'API_SERVER': apiServer, 'PACKAGE': package}

    nodes = {
            'Authority' : {'x500': 'CN=Authority, OU=Test Dept, O=R3, L=London, C=GB' ,'hash': 'F0E569C4765C' },
            'Bob'       : {'x500': 'CN=Bob, OU=Test Dept, O=R3, L=London, C=GB'       ,'hash': '972B13CEE093' },
            'Charlie'   : {'x500': 'CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB'   ,'hash': 'AD4AA4F0D9B1' },
            'Alice'     : {'x500': 'CN=Alice, OU=Test Dept, O=R3, L=London, C=GB'     ,'hash': 'F07CC621F1DF' },
            }

    h = Corda5(level=logging.INFO, nodes=nodes, apiServer=apiServer, apiServerAuth=apiServerAuth, version=2)

    log = h.log
    log.info("Base directory {}".format(os.environ['BaseDir']))
    
    return h

init_notebook()
h = init_cordaNodes()

 19-05 12:51:02 | I | Base directory /Users/bo.yang/Documents/github/configurableLedgerAsset/python3

### Issue -- Type 4, Transferable = N, Quantifiable = N
* Issuer gets to decide the name, transferable or not, expiry or not, redeemable or not, and can add multiple/additional attributes (HashMap) on the same State/Asset.
* Applications like Government Bond, will be transferable, with maturity(some expiry), and redeemable (cash the principal on maturity), with additional attribute of coupon payment dates.
* Applications like College University Degree, will not be transferable, no expiry, and not redeemable. Will have additional attributes like Collage Name, University Name, Education Stream etc etc along with Issuer and Owner(Holder).
* Applications like Limited Edition Sovereign, will be transferable, no expiry but will be redeemable directly with Issuer.

In Asset type 4, all the issuing should be succeed, with **Non-Transferable** and **Non-Quantifiable** assets.

In [71]:
# Issue Test 1 -- Issue Graduation certificate (Type 4 -- Non transferable, Non quantifiable Instrument)
# Expected -- Succeed
(req_id, response, return_val_uuid) = h.issue('Authority', 'Charlie', 'BE Computer Engineering', 
        quantity=None, 
        transferable=False, 
        expiry=None, 
        verifiable=True,
        attributes={
            'university': 'University of Mumbai', 
            'year': '2023',
            'score': '450/500',
            'major subject': "['Robotics', 'AI', 'DSP']"})
h.message([req_id, response, return_val_uuid])

 19-05 12:51:34 | I | Issuing instrument='BE Computer Engineering' to 'Charlie'
 19-05 12:51:34 | I | Running action 'Issue' on 'Authority/F0E569C4765C/CN=Authority, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 12:52:22 | I | 5fbd1967-a466-4ec2-a3b5-d16342b939fb
 19-05 12:52:22 | I | Time taken = 0:00:48.449843

51611.1684471894.148511<Response [200]>5fbd1967-a466-4ec2-a3b5-d16342b939fb

In [72]:
# Issue Test 2 -- Issue another graduation certificate with different attributes to the same person Charlie
# Expected -- Succeed
(req_id, response, return_val_uuid) = h.issue('Authority', 'Charlie', 'BE Electric Engineering', 
        quantity=None, 
        transferable=False, 
        expiry=None, 
        verifiable=True,
        attributes={
            'university': 'University of Singapore', 
            'year': '2022',
            'score': '480/500',
            'major subject': "['Electronics', 'Power Systems', 'Energy Systems']"})
h.message([req_id, response, return_val_uuid])

 19-05 12:52:37 | I | Issuing instrument='BE Electric Engineering' to 'Charlie'
 19-05 12:52:37 | I | Running action 'Issue' on 'Authority/F0E569C4765C/CN=Authority, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 12:53:22 | I | 344af4c4-9ae9-4710-951e-8a50ee3c1bbd
 19-05 12:53:22 | I | Time taken = 0:00:44.436462

51611.1684471957.661206<Response [200]>344af4c4-9ae9-4710-951e-8a50ee3c1bbd

In [73]:
# Issue Test 3 -- Issue Experience/Participation certificate (Type 4 / Test 4 -- Non transferable, Non quantifiable Instrument)
# Expected -- Succeed
(req_id, response, return_val_uuid) = h.issue('Authority', 'Bob', 'R3 Hackathon 2023', 
        quantity=None, 
        transferable=False, 
        expiry=None, 
        verifiable=True, 
        attributes={'Project': 'Corda 5', 'Year': '2023'})
h.message([req_id, response, return_val_uuid])

 19-05 12:53:36 | I | Issuing instrument='R3 Hackathon 2023' to 'Bob'
 19-05 12:53:36 | I | Running action 'Issue' on 'Authority/F0E569C4765C/CN=Authority, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 12:54:21 | I | 26323a27-e1ac-447d-accb-2c6490aedb11
 19-05 12:54:21 | I | Time taken = 0:00:44.439271

51611.1684472016.843123<Response [200]>26323a27-e1ac-447d-accb-2c6490aedb11

In [76]:
# Issue Test 4 -- Issue another Experience/Participation certificate to Bob again
# Expected -- Succeed
(req_id, response, return_val_uuid) = h.issue('Authority', 'Bob', 'R3 Hackathon 2022', 
        quantity=None, 
        transferable=False, 
        expiry=None, 
        verifiable=True, 
        attributes={'Project': 'Corda 4', 'Year': '2022'})
h.message([req_id, response, return_val_uuid])

 19-05 12:56:06 | I | Issuing instrument='R3 Hackathon 2022' to 'Bob'
 19-05 12:56:06 | I | Running action 'Issue' on 'Authority/F0E569C4765C/CN=Authority, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 12:56:54 | I | 1648be37-1645-456d-8ead-2298f69a57a4
 19-05 12:56:54 | I | Time taken = 0:00:48.413038

51611.1684472166.475776<Response [200]>1648be37-1645-456d-8ead-2298f69a57a4

### Query:
* Query is used for query the instruments that one/all held.

In [77]:
# Query Test 1 -- Query all the instruments
h.query_all_nodes()

 19-05 12:57:03 | I | Result for query=ListInstrument from 'Authority/F0E569C4765C/CN=Authority, OU=Test Dept, O=R3, L=London, C=GB'. (Time taken=0:00:04.089454)

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,1648be37-1645-456d-8ead-2298f69a57a4,R3 Hackathon 2022,"CN=Bob, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",NaN,False,None,True,"{'Project': 'Corda 4', 'Year': '2022'}"
1,d4ea67e0-9945-4fe5-b0da-c3ef0d457e32,Star Alliance Travel Points,"CN=Alice, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",8.0,False,None,True,{}
2,5fbd1967-a466-4ec2-a3b5-d16342b939fb,BE Computer Engineering,"CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",NaN,False,None,True,"{'university': 'University of Mumbai', 'year': '2023', 'score': '450/500', 'major subject': '['Robotics', 'AI', 'DSP']'}"
3,344af4c4-9ae9-4710-951e-8a50ee3c1bbd,BE Electric Engineering,"CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",NaN,False,None,True,"{'university': 'University of Singapore', 'year': '2022', 'score': '480/500', 'major subject': '['Electronics', 'Power Systems', 'Energy Systems']'}"
4,26323a27-e1ac-447d-accb-2c6490aedb11,R3 Hackathon 2023,"CN=Bob, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",NaN,False,None,True,"{'Project': 'Corda 5', 'Year': '2023'}"

 19-05 12:57:08 | I | Result for query=ListInstrument from 'Bob/972B13CEE093/CN=Bob, OU=Test Dept, O=R3, L=London, C=GB'. (Time taken=0:00:04.064987)

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,26323a27-e1ac-447d-accb-2c6490aedb11,R3 Hackathon 2023,"CN=Bob, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'Project': 'Corda 5', 'Year': '2023'}"
1,1648be37-1645-456d-8ead-2298f69a57a4,R3 Hackathon 2022,"CN=Bob, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'Project': 'Corda 4', 'Year': '2022'}"

 19-05 12:57:12 | I | Result for query=ListInstrument from 'Charlie/AD4AA4F0D9B1/CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB'. (Time taken=0:00:04.069753)

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,5fbd1967-a466-4ec2-a3b5-d16342b939fb,BE Computer Engineering,"CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'university': 'University of Mumbai', 'year': '2023', 'score': '450/500', 'major subject': '['Robotics', 'AI', 'DSP']'}"
1,344af4c4-9ae9-4710-951e-8a50ee3c1bbd,BE Electric Engineering,"CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'university': 'University of Singapore', 'year': '2022', 'score': '480/500', 'major subject': '['Electronics', 'Power Systems', 'Energy Systems']'}"

 19-05 12:57:16 | I | Result for query=ListInstrument from 'Alice/F07CC621F1DF/CN=Alice, OU=Test Dept, O=R3, L=London, C=GB'. (Time taken=0:00:04.078562)

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,d4ea67e0-9945-4fe5-b0da-c3ef0d457e32,Star Alliance Travel Points,"CN=Alice, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",8,False,None,True,{}

In [78]:
# Query Test 2 -- Query Charlie's instruments
h.query('Charlie')

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,5fbd1967-a466-4ec2-a3b5-d16342b939fb,BE Computer Engineering,"CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'university': 'University of Mumbai', 'year': '2023', 'score': '450/500', 'major subject': '['Robotics', 'AI', 'DSP']'}"
1,344af4c4-9ae9-4710-951e-8a50ee3c1bbd,BE Electric Engineering,"CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'university': 'University of Singapore', 'year': '2022', 'score': '480/500', 'major subject': '['Electronics', 'Power Systems', 'Energy Systems']'}"

In [79]:
# Query Test 3 -- Query Bob's instruments
h.query('Bob')

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,26323a27-e1ac-447d-accb-2c6490aedb11,R3 Hackathon 2023,"CN=Bob, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'Project': 'Corda 5', 'Year': '2023'}"
1,1648be37-1645-456d-8ead-2298f69a57a4,R3 Hackathon 2022,"CN=Bob, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'Project': 'Corda 4', 'Year': '2022'}"

### Transfer:
* Not all instruments are transferable.
* If transferable -- will work on the basic nature of the instrument decided right from the issue point(by the issuer).
* Check = not expired apart from being owned.

For Asset Type 4, as it's non tranferable, all the transfer should be **failure**.

In [81]:
# Transfer Test 1 -- Transfer from Holder with quantity (Type 4, Transferable = N, Quantifiable = N)
# Expected -- Failure
(req_id, response, return_val) = h.transfer(return_val_uuid, 'Bob', 'Alice', quantity=2)
h.message([req_id, response, return_val])

 19-05 12:58:50 | I | Tranfering instrument id '1648be37-1645-456d-8ead-2298f69a57a4' to 'Alice'
 19-05 12:58:50 | I | Running action 'Transfer' on 'Bob/972B13CEE093/CN=Bob, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 12:58:54 | I | {'type': 'FLOW_FAILED', 'message': 'java.lang.NullPointerException'}
 19-05 12:58:54 | I | Time taken = 0:00:04.065927

51611.1684472330.922407<Response [200]>{'type': 'FLOW_FAILED', 'message': 'java.lang.NullPointerException'}

In [82]:
# Transfer Test 2 -- Transfer from Holder without quantity
# Expected -- Failure
(req_id, response, return_val) = h.transfer(return_val_uuid, 'Bob', 'Alice')
h.message([req_id, response, return_val])

 19-05 12:59:01 | I | Tranfering instrument id '1648be37-1645-456d-8ead-2298f69a57a4' to 'Alice'
 19-05 12:59:01 | I | Running action 'Transfer' on 'Bob/972B13CEE093/CN=Bob, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 12:59:05 | I | {'type': 'FLOW_FAILED', 'message': 'net.corda.v5.ledger.utxo.ContractVerificationException: Verification of ledger transaction with ID SHA-256D:7A8F81A6723B36B41AEF42D0CA2DB92BF337366FF28AC78DBB3F53784CF8C2FE failed: net.corda.v5.ledger.utxo.ContractVerificationException: Ledger transaction contract verification failed for the specified transaction: SHA-256D:7A8F81A6723B36B41AEF42D0CA2DB92BF337366FF28AC78DBB3F53784CF8C2FE.\nThe following contract verification requirements were not met:\ncom.r3.developers.configurableInstrument.contracts.InstrumentContract: Failed requirement: Instrument is not transferable.\n'}
 19-05 12:59:05 | I | Time taken = 0:00:04.064760

51611.1684472341.407778<Response [200]>{'type': 'FLOW_FAILED', 'message': 'net.corda.v5.ledger.utxo.ContractVerificationException: Verification of ledger transaction with ID SHA-256D:7A8F81A6723B36B41AEF42D0CA2DB92BF337366FF28AC78DBB3F53784CF8C2FE failed: net.corda.v5.ledger.utxo.ContractVerificationException: Ledger transaction contract verification failed for the specified transaction: SHA-256D:7A8F81A6723B36B41AEF42D0CA2DB92BF337366FF28AC78DBB3F53784CF8C2FE.\nThe following contract verification requirements were not met:\ncom.r3.developers.configurableInstrument.contracts.InstrumentContract: Failed requirement: Instrument is not transferable.\n'}

In [83]:
# Transfer Test 3 -- Transfer from Issuer
# Expected -- Failure
(req_id, response, return_val) = h.transfer(return_val_uuid, 'Authority', 'Alice')
h.message([req_id, response, return_val])

 19-05 12:59:17 | I | Tranfering instrument id '1648be37-1645-456d-8ead-2298f69a57a4' to 'Alice'
 19-05 12:59:17 | I | Running action 'Transfer' on 'Authority/F0E569C4765C/CN=Authority, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 12:59:22 | I | {'type': 'FLOW_FAILED', 'message': 'Not able to find a owning state with id 1648be37-1645-456d-8ead-2298f69a57a4'}
 19-05 12:59:22 | I | Time taken = 0:00:04.062412

51611.1684472357.970811<Response [200]>{'type': 'FLOW_FAILED', 'message': 'Not able to find a owning state with id 1648be37-1645-456d-8ead-2298f69a57a4'}

In [84]:
# Transfer Test 4 -- Transfer from Non Holder 
# Expected -- Failure
(req_id, response, return_val) = h.transfer(return_val_uuid, 'Alice', 'Charlie')
h.message([req_id, response, return_val])

 19-05 12:59:24 | I | Tranfering instrument id '1648be37-1645-456d-8ead-2298f69a57a4' to 'Charlie'
 19-05 12:59:24 | I | Running action 'Transfer' on 'Alice/F07CC621F1DF/CN=Alice, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 12:59:28 | I | {'type': 'FLOW_FAILED', 'message': 'Not able to find a owning state with id 1648be37-1645-456d-8ead-2298f69a57a4'}
 19-05 12:59:28 | I | Time taken = 0:00:04.054180

51611.1684472364.044714<Response [200]>{'type': 'FLOW_FAILED', 'message': 'Not able to find a owning state with id 1648be37-1645-456d-8ead-2298f69a57a4'}

### Redeem:
* Not all instruments will have expiry/maturity.
* Redeem can be executed by either the owner (holder of the asset) or also by the issuer of the asset (present design, can be controlled)
* If permitted, it will work on the basic nature of the instrument decided right from the issue point(by the issuer).
* In Asset type 1, all the redeems apart from non holders should be succeed

For Asset type 4, all the redeems apart from non holders should be **succeed*.

In [86]:
# Redeem Test1 -- Redeem by Holder Charlie with quantity
# Exepected -- Failure

(req_id, response, return_val) = h.redeem('5fbd1967-a466-4ec2-a3b5-d16342b939fb', 'Charlie',quantity=1)
h.message([req_id, response, return_val])

 19-05 13:00:50 | I | Redeeming instrument id '5fbd1967-a466-4ec2-a3b5-d16342b939fb' quantity '1'
 19-05 13:00:50 | I | Running action 'Redeem' on 'Charlie/AD4AA4F0D9B1/CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 13:00:54 | I | {'type': 'FLOW_FAILED', 'message': 'Redeem quantity requested is 1, whereas quantity in instrument id 5fbd1967-a466-4ec2-a3b5-d16342b939fb is null'}
 19-05 13:00:54 | I | Time taken = 0:00:04.136916

51611.1684472450.79387<Response [200]>{'type': 'FLOW_FAILED', 'message': 'Redeem quantity requested is 1, whereas quantity in instrument id 5fbd1967-a466-4ec2-a3b5-d16342b939fb is null'}

In [87]:
# Redeem Test2 -- Redeem by Holder Charlie without quantity
# Exepected -- Succeed

(req_id, response, return_val) = h.redeem('5fbd1967-a466-4ec2-a3b5-d16342b939fb', 'Charlie')
h.message([req_id, response, return_val])

 19-05 13:01:13 | I | Redeeming instrument id '5fbd1967-a466-4ec2-a3b5-d16342b939fb' quantity 'None'
 19-05 13:01:13 | I | Running action 'Redeem' on 'Charlie/AD4AA4F0D9B1/CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 13:01:57 | I | net.corda.ledger.utxo.flow.impl.FinalizationResultImpl@3d7971bd
 19-05 13:01:57 | I | Time taken = 0:00:44.340410

51611.1684472473.1302881<Response [200]>net.corda.ledger.utxo.flow.impl.FinalizationResultImpl@3d7971bd

In [88]:
# Now, query Charlie
h.query('Charlie')

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,344af4c4-9ae9-4710-951e-8a50ee3c1bbd,BE Electric Engineering,"CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'university': 'University of Singapore', 'year': '2022', 'score': '480/500', 'major subject': '['Electronics', 'Power Systems', 'Energy Systems']'}"

In [90]:
# Redeem Test 3 -- Redeem Bob's asset by Issuer with quantity
# Exepected -- Failure
(req_id, response, return_val) = h.redeem('26323a27-e1ac-447d-accb-2c6490aedb11', 'Authority', quantity=2)
h.message([req_id, response, return_val])

 19-05 13:04:11 | I | Redeeming instrument id '26323a27-e1ac-447d-accb-2c6490aedb11' quantity '2'
 19-05 13:04:11 | I | Running action 'Redeem' on 'Authority/F0E569C4765C/CN=Authority, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 13:04:15 | I | {'type': 'FLOW_FAILED', 'message': 'Redeem quantity requested is 2, whereas quantity in instrument id 26323a27-e1ac-447d-accb-2c6490aedb11 is null'}
 19-05 13:04:15 | I | Time taken = 0:00:04.053449

51611.1684472651.8188689<Response [200]>{'type': 'FLOW_FAILED', 'message': 'Redeem quantity requested is 2, whereas quantity in instrument id 26323a27-e1ac-447d-accb-2c6490aedb11 is null'}

In [91]:
# Redeem Test 4 -- Redeem Bob's asset by Issuer without quantity
# Exepected -- Succeed
(req_id, response, return_val) = h.redeem('26323a27-e1ac-447d-accb-2c6490aedb11', 'Authority')
h.message([req_id, response, return_val])

 19-05 13:04:23 | I | Redeeming instrument id '26323a27-e1ac-447d-accb-2c6490aedb11' quantity 'None'
 19-05 13:04:23 | I | Running action 'Redeem' on 'Authority/F0E569C4765C/CN=Authority, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 13:05:08 | I | net.corda.ledger.utxo.flow.impl.FinalizationResultImpl@7d23f0a5
 19-05 13:05:08 | I | Time taken = 0:00:44.321505

51611.1684472663.773203<Response [200]>net.corda.ledger.utxo.flow.impl.FinalizationResultImpl@7d23f0a5

In [92]:
# Now, query Bob
h.query('Bob')

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,1648be37-1645-456d-8ead-2298f69a57a4,R3 Hackathon 2022,"CN=Bob, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'Project': 'Corda 4', 'Year': '2022'}"

In [93]:
# Redeem Test 5 -- Redeem Bob's asset by Non Holder Alice
# Exepected -- Failure
(req_id, response, return_val) = h.redeem('1648be37-1645-456d-8ead-2298f69a57a4', 'Alice')
h.message([req_id, response, return_val])

 19-05 13:06:04 | I | Redeeming instrument id '1648be37-1645-456d-8ead-2298f69a57a4' quantity 'None'
 19-05 13:06:04 | I | Running action 'Redeem' on 'Alice/F07CC621F1DF/CN=Alice, OU=Test Dept, O=R3, L=London, C=GB'
 19-05 13:06:08 | I | {'type': 'FLOW_FAILED', 'message': 'Not able to find a owning state with id 1648be37-1645-456d-8ead-2298f69a57a4'}
 19-05 13:06:08 | I | Time taken = 0:00:04.059568

51611.1684472764.261621<Response [200]>{'type': 'FLOW_FAILED', 'message': 'Not able to find a owning state with id 1648be37-1645-456d-8ead-2298f69a57a4'}

In [94]:
# Now, query all
h.query_all_nodes(0)

 19-05 13:07:06 | I | Result for query=ListInstrument from 'Authority/F0E569C4765C/CN=Authority, OU=Test Dept, O=R3, L=London, C=GB'. (Time taken=0:00:04.081699)

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,d4ea67e0-9945-4fe5-b0da-c3ef0d457e32,Star Alliance Travel Points,"CN=Alice, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",8.0,False,None,True,{}
1,344af4c4-9ae9-4710-951e-8a50ee3c1bbd,BE Electric Engineering,"CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",NaN,False,None,True,"{'university': 'University of Singapore', 'year': '2022', 'score': '480/500', 'major subject': '['Electronics', 'Power Systems', 'Energy Systems']'}"
2,1648be37-1645-456d-8ead-2298f69a57a4,R3 Hackathon 2022,"CN=Bob, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",NaN,False,None,True,"{'Project': 'Corda 4', 'Year': '2022'}"

 19-05 13:07:11 | I | Result for query=ListInstrument from 'Bob/972B13CEE093/CN=Bob, OU=Test Dept, O=R3, L=London, C=GB'. (Time taken=0:00:04.077927)

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,1648be37-1645-456d-8ead-2298f69a57a4,R3 Hackathon 2022,"CN=Bob, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'Project': 'Corda 4', 'Year': '2022'}"

 19-05 13:07:15 | I | Result for query=ListInstrument from 'Charlie/AD4AA4F0D9B1/CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB'. (Time taken=0:00:04.079431)

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,344af4c4-9ae9-4710-951e-8a50ee3c1bbd,BE Electric Engineering,"CN=Charlie, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",None,False,None,True,"{'university': 'University of Singapore', 'year': '2022', 'score': '480/500', 'major subject': '['Electronics', 'Power Systems', 'Energy Systems']'}"

 19-05 13:07:19 | I | Result for query=ListInstrument from 'Alice/F07CC621F1DF/CN=Alice, OU=Test Dept, O=R3, L=London, C=GB'. (Time taken=0:00:04.078491)

,id,name,owner,issuer,quantity,transferable,expiry,verifiable,attributes
0,d4ea67e0-9945-4fe5-b0da-c3ef0d457e32,Star Alliance Travel Points,"CN=Alice, OU=Test Dept, O=R3, L=London, C=GB","CN=Authority, OU=Test Dept, O=R3, L=London, C=GB",8,False,None,True,{}

### Print to PDF:
* "Print to PDF" is used for printing any instrument with a specific format.

In [95]:
# Print to PDF Test 1 -- Print by Holder
# Expected -- Succeed
h.print_to_pdf('Bob', '1648be37-1645-456d-8ead-2298f69a57a4', query=None, show=False)

 19-05 13:08:24 | I | http://localhost:9009?data={"name": "R3 Hackathon 2022", "owner": "CN=Bob, OU=Test Dept, O=R3, L=London, C=GB", "issuer": "CN=Authority, OU=Test Dept, O=R3, L=London, C=GB", "quantity": null, "transferable": false, "expiry": null, "verifiable": true, "attributes": {"Project": "Corda 4", "Year": "2022"}}
 19-05 13:08:27 | I | Time taken = 0:00:07.470930

'/tmp/report_1648be37-1645-456d-8ead-2298f69a57a4.pdf'

In [96]:
# Print to PDF Test 2 -- Print by Issuer
# Expected -- Succeed
h.print_to_pdf('Authority', '1648be37-1645-456d-8ead-2298f69a57a4', query=None, show=False)

 19-05 13:08:46 | I | http://localhost:9009?data={"name": "R3 Hackathon 2022", "owner": "CN=Bob, OU=Test Dept, O=R3, L=London, C=GB", "issuer": "CN=Authority, OU=Test Dept, O=R3, L=London, C=GB", "quantity": NaN, "transferable": false, "expiry": null, "verifiable": true, "attributes": {"Project": "Corda 4", "Year": "2022"}}
 19-05 13:08:49 | I | Time taken = 0:00:07.287028

'/tmp/report_1648be37-1645-456d-8ead-2298f69a57a4.pdf'

In [97]:
# Print to PDF Test 3 -- Print by Non Holder
# Expected -- Failure
h.print_to_pdf('Alice', '1648be37-1645-456d-8ead-2298f69a57a4', query=None, show=False)

 19-05 13:09:04 | E | data matching id='1648be37-1645-456d-8ead-2298f69a57a4' in 'Alice' is of length='0'. Expected length is exactly 1.